<div class="exchanges-select">
  <div *ngIf="selectedCount() > 0; then exchangesSelected else noExchangesSelected"></div>
  <ng-template #exchangesSelected>
    <div class="message message-info">
      Selecting from <br>
      {{ selectedCount() }} exchanges
    </div>
  </ng-template>
  <ng-template #noExchangesSelected>
    <div class="message message-error">
      Select at least<br>
      one exchange
    </div>
  </ng-template>
  <div class="exchanges-bulk-selectors">
    <div
      class="exchanges-bulk-selector"
      [class.selected]="!allAreSelected"
      [class.deselected]="allAreSelected"
      (click)="setBulkSelection($event, 'selectAll')">
      All
    </div>
    <div
      class="exchanges-bulk-selector"
      [class.selected]="!noneAreSelected"
      [class.deselected]="noneAreSelected"
      (click)="setBulkSelection($event, 'selectNone')">
      None
    </div>
  </div>

  <ul>
    <li *ngFor="let exchange of exchanges; index as i"
      class = "exchange"
      [class.selected]="exchange.isSelected"
      [class.deselected]="!exchange.isSelected"
      (click)="setSelected($event, i)">
        {{ exchange.name }} ({{ exchange.filteredCurrenyCount }})
    </li>
  </ul>
</div>
