<app-exhanges
  [exchanges]="exchanges"
  (toggleExchange)="toggleExhange($event)"
  (bulkSelectExchanges)="bulkSelectExchanges($event)"
>
</app-exhanges>
<div class="currencies-selection">
  <app-currencies-search
    [filteredCurrenciesCount]="filteredCurrenciesCount"
    [searchText]="searchText"
    (searchCurrencies)="searchCurrencies($event)"
  >
  </app-currencies-search>
  <app-currencies
    [currencies]="flattenedFilteredCurrencies"
    [portfolioAllocations]="portfolioAllocations"
    [filteredCurrenciesCount]="filteredCurrenciesCount"
    [displayMax]=24
    (addCurrencyToPortfolio)="addCurrencyToPortfolio($event)"
  >
  </app-currencies>
</div>
<app-portfolio
  [allocations]="portfolioAllocations"
>
</app-portfolio>
