<app-exhanges
  [exchanges]="exchanges"
  (click)="toggleExhange($event)"
>
</app-exhanges>
<div class="currenciesSelection">
  <app-currencies-search
    [filteredCurrenciesCount]="filteredCurrenciesCount"
    [searchText]="searchText"
    (input)="searchCurrencies($event)"
  >
  </app-currencies-search>
  <app-currencies
    [currencies]="flattenedFilteredCurrencies"
    [filteredCurrenciesCount]="filteredCurrenciesCount"
    [displayMax]=24
    (click)="addCurrencyToPortfolio($event)"
  >
  </app-currencies>
</div>
