@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  font-family: 'Lato', sans-serif;
  color: rgb(250, 250, 250);
  background-color: rgb(151, 206, 192);
}

ul {
  font-weight: 400;
  list-style: none;
  margin: 1rem;
  padding: 0rem;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  min-height: 2.0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.35rem;
  margin: 1rem;
}
