@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: rgb(151, 206, 192);
}

app-quotes {
  width: 50%;
  display: flex;
  flex-direction: row;
}

app-exchanges {
  width: 40%;
}


app-portfolio {
  width: 50%;
}

app-currencies-search {
  color:  rgb(50, 50, 50);
}

app-currencies {
  color:  rgb(50, 50, 50);
}

.message {
  color:  rgb(22, 75, 62);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.message-info {
  color:  rgb(50, 50, 50);
}
