<div *ngIf="currenciesToList(); else noCurrencies">
  <div *ngIf="displayCurrencies(); else tooManyCurrencies">
    <ul>
      <li *ngFor="let currency of currencies; index as i"
        class="currency">
          Hello!
      </li>
    </ul>
  </div>
  <ng-template #tooManyCurrencies>
    <div class="message message-info">
      Too many currencies.<br>
      Refine search criteria.
    </div>
  </ng-template>
</div>
<ng-template #noCurrencies>
  <div class="message message-info">
    No currencies to display.<br>
    Refine search criteria.
  </div>
</ng-template>
